* {
  /*color: black;*/
  /*background-color: rgb(255,255,255);*/
  border-width: 1px;
  border-color: green;
  /*border-style: solid;*/
  /*position: relative;*/
  /*top: 1px;*/
  /*margin: 5px;*/
  /*padding: 10px;
  position: relative;*/
  /*top: 20px;*/

}

body{
  /*position: absolute;*/
  /*padding-top: 210px;*/
  margin: 10px;
  /*background-image: url(images/P1150071short.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  padding: 10px 5px 0px 5px;
  margin: 0 0 0 0;
}

h1 {
  /*position: fixed;*/
  color: white;
  padding: 10px;
  top: 0;
  margin: 0;
  left: 0px;
  width: 100%;
  /*height: 200px;*/
  /*background-color: rgb(100,100,100);*/
  z-index: 1;
  text-align: right;
  /*background-image: url(images/header1.jpg);
  background-origin: padding-box;
  background-position: center;
  background-repeat: no-repeat;
  align-content: center;
  align-self: center;
  background-size: 100%;*/
}

h2, h3 {
  /*padding: 10px 0 0 0;*/
  margin: 0;
}

ul {
  padding: 0 0 0 20px;
  margin: 0 0 10px 0;
}

ol {
  /*position: relative;*/
  margin: 0;
}

section {
  /*margin-top: 220px;*/
  padding: 200px 0;
}

.education li {
  /*position: relative;*/
  /*top: 0;*/
  padding: 0;
  list-style-type: none;
}

.heading {
  position: fixed;
  /*margin-top: 200;*/
  width: 100%;
  height: 200px;
  /*height: 220px;*/
  background-image: url(images/P1150071short.jpg);
  background-origin: padding-box;
  background-position: center;
  background-repeat: no-repeat;
  align-content: center;
  align-self: center;
  background-size: 100%;
}


/*.goals li {
  list-style-type: disc;
}*/

/*h4 {
  padding: 0px 0;
  margin: 0px 0;
}*/

.topTenList li {
  padding: 0;
}

/*.education {
  list-style-type: none;
}*/


/* Learning about Specificity from a friend

[id][attribute][tag]

[0][1][0]
.someClass {
  color:red;
}

[0][0][1]
div {
  color: blue;
}

Which one wins?
[0][0][300]
[0][1][0]



*/
/*.relative,
.absolute {
  height: 300px;
  width: 100%;
}
.relative {
  position: relative;
  background: blue;
}

.absolute {
  position: absolute;
  background: red;
}*/
