/** {
  color: black;
  background-color: rgb(255,255,255);
  border-width: 1px;
  border-color: black;
  position: relative;
  top: 1px;
  /*margin: 5px;*/
  /*padding: 10px;
  border-style: solid;
  position: relative;
  top: 10px;

}*/
p {

}

h1 {
  position: fixed;
  padding: 0px;
  top: 0px;
  margin: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(100,100,100);
  z-index: 1;
}

h2.one {
  font-style: italic;
  /*position: absolute;*/
  /*margin: 20px;*/
  /*/align-content: right;*/
}

.List li {
  padding: 10px 0;
}


/*

[id][attribute][tag]

[0][1][0]
.someClass {
  color:red;
}

[0][0][1]
div {
  color: blue;
}

Which one wins?
[0][0][300]
[0][1][0]



*/
.relative,
.absolute {
  height: 300px;
  width: 100%;
}
.relative {
  position: relative;
  background: blue;
}

.absolute {
  position: absolute;
  background: red;
}
