* {
  color: black;
  background-color: rgb(207,193,249);
}

p {
  border: 20px;
}

h1{
  text-align: center;
}

h1, h2 {
  border: 40px;
  color: DarkSlateGray;
  font-style: italic;
  /*align-content: center;*/
}
